html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    text-align: center;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

.remove {
    padding-bottom: 5px;
}

footer{
    width: 500px;
    position: fixed;
    bottom: 0px;
    border: 1px solid gray;
}

.row{
    width: 100%;
}

.col{
    width: 45%;
    padding: 5px;
}

.right{
    float: right;
    text-align: right;
}

.left{
    float: left;
    text-align: left;
}